section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rosybrown;
}

.dark {
  background-color: black;
  color: white;
}
